<ion-view view-title="dos">
	<div class="row main2 flex-end">
		<div class="cja anch1" resize>
			<div class="alto50"></div>
			<div class="logo2"><img src="img/logo-s.png" alt=""></div>
			<h4 class="ingrsaCamb1" style="font-weight: normal;">INGRESA CON</h4>
			<div class="icons row row-no-padding" id="content3">
				<a href="#/ingreso"><span class="icon-mail-circled icon"></span></a> 
				<div class="SesionFacebook" ng-click="fbLogin()"><span class="icon-facebook-circled icon" style="
    font-size: 37.00025px;
    position: relative;
    top: -2px;
"></span></div>
			</div>
			
			<p class="gold">-- ¿Aún no haces parte? --</p>
			
			<p class="poostionRegistoccambio1">REGÍSTRATE CON</p>
			<div class="icons row row-no-padding">
				<a href="#/registro"><span class="icon-mail-circled icon"></span></a> 
				<div class="SesionFacebook" ng-click="fbRegistro()"><span class="icon-facebook-circled icon" style="
    font-size: 37.00025px;
    position: relative;
    top: -2px;
"></span></div>
				<!--a href="#"><span class="icon-facebook-circled icon"></span></a--> 
			</div>
		</div>
	</div>
</ion-view>