<ion-view view-title="conocemas">
	<div class="flex-center" resize>
		<div class="cj1">
			<div class="alto50"></div>
			<div class="logo2"><img src="img/logo-s.png" alt=""></div>
			<div class="content" id="content3" style="margin-bottom: 20px;font-family: 'ProximaNovaAlt';">
				<p id="cambio2-marBot" class="marBot">
					<b>Este es tu Primer Reto:</b> <br>
				 Invita a un amigo para que junto <br>a ti viva esta aventura. Ganarás <br>
				 <span class="amarillo1">GANGS</span> cuando se registre y <br>cada vez que él gane. Los <br>
				<span class="amarillo1">GANGS</span> te desbloquean mundos <br>desconocidos y sorpresas de <br>
				esas que te dejan…
				<span class="amarillo1">“¡WTF!”</span>.</p>
				<div class="center cursor-pointer row cerrarUno absoluto" botom-absolute-window="-15" ng-click="direcionar('#/reg-completado')">
					<span class="icon-close close"></span>
				</div>
			</div>
		</div>
	</div>
</ion-view>