<ion-view view-title="tres">
	<ion-content>
		<div id="flex-end" class="row row-center">
			<div class="cj1">
				<div class="blanco-alto300"></div>
				<div class="logo2"><img src="img/logo-s.png" alt=""></div>
				<div class="content" id="content3">
					<p class="invita marBot">Invita a un amigo para que puedas ganar más Gangs (puntos) y así mejorar tus beneficios.</p>
					<p class="small marBot cursor-pointer" ng-click="direcionar('#/reg-conocemas')">Conoce más...</p>
					<div class="marBot m10">
						<img src="img/msn.png" alt="mensaje" class="msn">
					</div>	
					<button class='m10 btn lg marBot' ng-click="direcionar('#/invitar')">INVITA A UN AMIGO</button>
					<button class='m10 btn lg marBot' ng-click="direcionar('#/reg-terminado')">NO, GRACIAS</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>