<ion-view view-title="corazon">
	<ion-content>
		<div class="row main5 row-no-padding">
			<div class="cja w100">
				<div class="head">
					<img src="img/logo.png" alt="">
				</div>
				<div id="for1" class="content2 flexCol secCora">
					<div class="navi">
						<img src="img/navi1.jpg" alt="">
					</div>
					<div>
						<div class="coraTitle vhCen">Como estas del corazón:</div>
						<div class="coraSect casado vhCen" ng-click="sel1()" ng-class="classee1" data-sl="1">Casado (a)</div>
						<div class="coraSect solterocon vhCen" ng-click="sel2()" ng-class="classee2" data-sl="2">Soltero con novio (a)</div>
						<div class="coraSect solterosin vhCen" ng-click="sel3()" ng-class="classee3" data-sl="3">Soltero sin novio (a)</div>
						<div class="coraSect divorciado vhCen" ng-click="sel4()" ng-class="classee4" data-sl="4">Separado / Divorciado</div>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
			<button class='btn' ng-click="sig1()">
				SIGUIENTE
			</button>
		</div>
	</ion-content>
</ion-view>