<ion-view view-title="cuatro">
	<div id="flex-end" class="row row-center" resize>
		<div class="cj1">
			<div class="logo2"><img src="img/logo-s.png" alt=""></div>
			<div class="content" id="content3">
				<div class="m30"></div>
				<p class="marBot"></p>
				<p class="marBot">
					Para terminar… queremos diseñar la aventura de tu vida. Así que, déjanos conocerte mejor ;)
				</p>
				<div class="m40"></div>
				<button class='btn lg' ng-click="direcionar('#/preguntasregistro/0')" style="margin-bottom: 20px;">SIGUIENTE</button>
			</div>
		</div>
	</div>
</ion-view>