<ion-view view-title="finalreg">
	<ion-content>
		<div id="top" class="top flexCol main1" resize>
			<div id="header" class="flexRow">
				<div id="menuT" class="menuT"><img src="img/menu.png" alt=""></div>
				<div class="search"><a href="#"><span class="icon-search"></span></a></div>
				<div class="title"><span>INICIO</span></div>
				<div class="cart"><span class="icon-shopping"></span></div>
			</div>
			<div id="stats" class="flexRow vhCen">
				<div class="statsItem"><img src="img/icon-top-1.png" alt=""></div>
				<div class="statsItem"><img src="img/icon-top-2.png" alt=""></div>
				<div class="statsItem"><img src="img/icon-top-3.png" alt=""></div>
			</div>
		</div>
		<div class="row content3 row-no-padding">
			<div class="overlayTip" resize></div>
			<div class="card8" altura-porcentaje="90">
				<div class="innerCard flex-center">
					<div class="cajacent">
						<div class="aventura row row-no-padding"><p class="title2">AQUÍ INICIA <br> TU AVENTURA</p></div>
						<div class="aventura row row-no-padding flexB flex-center-vertical">
							<div class="cjaimg">
								<img src="img/number1.jpg" alt="">
							</div>
							<p>Selecciona el producto que te guste. </p>
						</div>
						<div class="aventura row row-no-padding flexB flex-center-vertical">
							<div class="cjaimg">
								<img src="img/number2.jpg" alt="">
							</div>
							<p>Para comprarlo, corre al establecimiento donde está tu producto y muéstrale al cajero el código que te damos.</p>
						</div>
						<div class="aventura row row-no-padding flexB flex-center-vertical">
							<div class="cjaimg">
								<img src="img/number3.jpg" alt="">
							</div>
							<p>O si prefieres, selecciona la opción para enviártelo a casa y pagas como prefieras.</p>
						</div>
						<div class="aventura">
							<p class="listo">...Y Listo, es todo tuyo!!!</p>
						</div>
						<div class="aventura absoluto wid100" botom-absolute-div="5" ng-click="sigu4()">
							<span class="icon-arrow-right"></span>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>