<div class="buscador">
	<div class="overYeiii flex-center" resize>
	  <div ng-click="cerrarBuscardor()"><span class="icon-close close3"></span></div>
		<form ng-submit="buscarProducto()">
			<div class="input-icionobus flexB flex-center-vertical">
				<div class="ico-buscar">
					<span class="icon-search"></span>
				</div>
				<div class="input-bus">
					<input type="search" name="nombreProducto" ng-model="nombreProducto" />
				</div>
			</div>
			<div class="rigth-boton hLeft">
				<button class="botonG mayusG paddingA" style="font-weight: bold;">Buscar</button>
			</div>
		</form>		
	</div>
</div>