<ion-view view-title="yagansoliporcesada-view">
	<ion-content>
		<div class="overYeiii fondo-bien fondo-term-red-casa"></div>
		<div class="yeiCont">
			<div class="yeiTxt5">
				Tu solicitud ha sido <br>
				procesada con Éxito.
			</div>
			<div class="yeiTxt7">
				<span class="boldY TTTT">TATIANA</span>
				<br>
				<br>
				se comunicará contigo <br>
				para ultimar detalles
			</div>
			<span class="smallTxt" ui-sref="app.condicionesBB">Condiciones de envío</span>
			<div class="btnsFoot">
				<button class='btn2' ui-sref="app.canastika">IR A TU CANÁSTIKA </button>
			</div>
			<div class="btnsFoot">
				<button class='btnInv' ui-sref="app.producto">SEGUIR VIENDO PRODUCTOS </button>
			</div>
		</div>
		<div class="sep10"></div>
		<div class="content6">
			<div class="card14">
				<div class="iconsCard10">
					<a href="#"><span class="icon-info iconR"></span></a>
				</div>
				<div class="enun">
					SUMA <b>500 GANGS</b><br>
					SI COMPRAS EL PRODUCTO
				</div>
				<div class="horario2">
					<div class="timeBig2">
						<span class="hours">24</span>
						<span class="minBag"></span>
						<span class="minutes">45</span>
						<span class="seconds">01</span>
					</div>
				</div>
				<div id="productName2">
					<div class="sep2"></div>
					<div class="productName">AUDIFONOS AIAIAI</div>
				</div>
				<div class="productStatus2">
					<div class="antes">
						<span class="destBig">$320.000</span>
						<span>ANTES</span>
					</div>
					<div class="descuento">
						<span>-50%</span>
					</div>
					<div class="ahora">
						<span class="destBig">$160.000</span>
						<span>AHORA</span>
					</div>
				</div>
				<div class="moreDetails">
					<div class="moreDetailsInt">
						<span class="int2">REDIMIR PRODUCTO</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>