<ion-view view-title="terminos-view" cache-view="false">
		<div class="content4">
			<div class="card5 paddingtop1" altura-porcentaje="83">
				<div>
					<div class="arrowBack" ui-sref="app.producto">
						<span class="icon-arrow-left"></span>
					</div>
					<div class="center terminos" style="font-weight: bold;">TÉRMINOS <br> Y CONDICIONES</div>
				</div>
				<div class="alto400 scrollY" style="margin-top: 16px;">
					<p class="terminosCont">
						Quienes descarguen la aplicación (“el Usuario” o “los Usuarios”) ACEPTA(N) los términos y condiciones establecidos por GANGASTIK S.A.S. (“GANGASTIK”) para la obtención de promociones, descuentos y ofertas en productos y servicios (en adelante “los Beneficios”) ofrecidos por diferentes empresas (“los Aliados”), a través de la Aplicación GANGASTIK (en adelante “la Aplicación”).
					</p>
					<h3 class="terminosTit">PRIMERA. OBJETO</h3>
					<p class="terminosCont">
						La Aplicación provee una solución tecnológica encaminada a lograr el acercamiento entre los Aliados y los Usuarios, con el fin de que estos últimos obtengan de aquellos los Beneficios. Algunas veces los Aliados ofrecerán Beneficios únicamente a sus clientes, miembros y afiliados; otras veces los Aliados ofrecerán Beneficios a Usuarios en general. Para acceder a los Beneficios los Usuarios deberán proveer cierta información relacionada con sus gustos y preferencias. 
					</p>
					<h3 class="terminosTit">SEGUNDA. FUNCIONAMIENTO DE LA APLICACIÓN.</h3>
					<p class="terminosCont">
						La dinámica de la Aplicación será la siguiente: 
					</p>
					<ul class="terminosCont ulcont">
						<li>Los Usuarios accederán a la Aplicación desde un dispositivo móvil o un computador y se registrarán, lo que implica la aceptación de los presentes términos y condiciones. </li>
						<li>
							Los Usuarios responderán preguntas sobre sus preferencias, gustos y opiniones. Esa información podrá ser utilizada por GANGASTIK para optimizar y personalizar los Beneficios, así como con fines estadísticos generales para establecer hábitos, tendencias y preferencias de los consumidores. 
						</li>
						<li>
							Los Aliados ofrecerán Beneficios a Usuarios que a su vez sean sus clientes, miembros o afiliados; o a Usuarios en general.
						</li>
						<li>
							El Usuario que quiera acceder a un Beneficio podrá hacerlo a través de la Aplicación, previo registro. Por el hecho de registrarse el Usuario podrá recibir en forma periódica el boletín informativo de GANGASTIK. 
						</li>
						<li>
							Los productos y servicios anunciados, con sus respectivos beneficios, tienen unas condiciones, descripción y especificaciones descritas en la sección “Información” con la que cada uno cuenta.
						</li>
						<li>
							Los Usuarios podrán obtener GANGS (puntos) por cualquiera de las acciones indicadas en la disposición sexta.
						</li>
					</ul>
					<h3 class="terminosTit">TERCERA. REGISTRO</h3>
					<p class="terminosCont">
						La información personal que el Usuario le proporcione a GANGASTIK estará asegurada por una clave de acceso, que será conocida solamente por el Usuario. El Usuario es el único responsable de mantener en secreto esa clave. La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una cuenta. Si GANGASTIK llegare a detectar distintas cuentas que contengan datos coincidentes o relacionados, podrá cancelarlas. 
					</p>
					<h3 class="terminosTit">CUARTA. EXONERACIÓN DE RESPONSABILIDAD DE GANGASTIK</h3>
					<p class="terminosCont">
						El papel de GANGASTIK consistirá en poner a disposición de los Aliados y Usuarios un espacio virtual con el fin de entre ellos se lleven a cabo transacciones sobre los productos y servicios de los Aliados. GANGASTIK no es responsable ni del cumplimiento por parte de los Aliados ni sobre la calidad de los productos y servicios suministrados. Si el Usuario tiene alguna queja o inconformidad sobre los productos o servicios deberá reclamar al respectivo Aliado. En ningún caso GANGASTIK responderá por daños o perjuicios.
					</p>
					<p class="terminosCont">
						El Usuario reconoce que la plataforma proporcionada por GANGASTIK podrá eventualmente presentar algunas fallas que supongan la inactividad de la misma durante un determinado lapso.  GANGASTIK hará su mejor esfuerzo por restablecer la plataforma a la mayor brevedad posible, sin que por ello pueda imputársele algún tipo de responsabilidad. 
					</p>
					<h3 class="terminosTit">QUINTA. OBLIGACIONES DE LOS USUARIOS</h3>
					<p class="terminosCont">
						Además de las previstas en la ley, los Usuarios tendrán a su cargo las siguientes obligaciones
					</p>
					<ul class="terminosCont ulcont">
						<li>
							Proporcionar a GANGASTIK información válida, veraz y actual. El Usuario deberá mantener dicha información actualizada. 
						</li>
						<li>
							Responder a las preguntas formuladas por GANGASTIK con el objeto de valorar sus preferencias, gustos y hábito. 
						</li>
						<li>
							Actuar siempre de buena fe tanto frente a GANGASTIK como frente a los Aliados. 
						</li>
					</ul>
					<h3 class="terminosTit">SEXTA. SOBRE LOS GANGS.</h3>
					<p class="terminosCont">
						GANGASTIK otorgará a los Usuarios GANGS o puntos por acciones ejecutadas por ellos, tales como por registrarse, por responder preguntas, por compartir un Beneficio en las redes sociales, etc. En el siguiente link se encontrará una tabla con las acciones y las respectivos GANGS otorgados. 
					</p>
					<table class="terminosTable">
						<tr>
							<td><b>ORIGEN</b></td>
							<td><b>PUNTOS POR VEZ</b></td>
						</tr>
						<tr>
							<td>Obsequio inicial</td>
							<td>2000</td>
						</tr>
						<tr>
							<td>Por pregunta</td>
							<td>100</td>
						</tr>
						<tr>
							<td>Por compartir beneficio</td>
							<td>500</td>
						</tr>
						<tr>
							<td>Por redención</td>
							<td>1% de compra</td>
						</tr>
						<tr>
							<td>Amigo gangastiko</td>
							<td>10%</td>
						</tr>
					</table>
					<p class="terminosCont">
						GANGASTIK podrá modificar esa tabla en cualquier momento. Así mismo, cuando una persona se registre en GANGASTIK por invitación de un Usuario, éste recibirá el 10% de las GANGS que en forma permanente reciba la persona referida.. LAS GANGS servirán para adquirir productos y servicios, nunca se entregarán en dinero. Para redimir las GANGS los Usuarios deberán aceptar la redención que en forma de beneficio proponga GANGASTIK.
					</p>
					<h3 class="terminosTit">SÉPTIMA. PAGO</h3>
					<p class="terminosCont">
						El Usuario podrá obtener el Beneficio o redimir Gangs ingresando al respectivo establecimiento y pagando el producto o servicio por medio de cualquiera de las formas de pago admitidas por el establecimiento. 
					</p>
					<p class="terminosCont">
						El Usuario podrá igualmente solicitar que el producto le sea enviado a domicilio y pagarlo contra-entrega. La responsabilidad del envío estará a cargo del respectivo Aliado. Para facilitar los envío a los Usuarios GANGASTIK integrará su aplicación con una compañía especializada en logística y mensajería, a fin de que un producto sea recogido donde el Aliado y enviado al Usuario. En este caso tampoco habrá responsabilidad alguna por parte de GANGASTIK sino de las respectiva empresa de mensajería.
					</p>
					<h3 class="terminosTit">OCTAVA. SOBRE LOS DATOS DE LOS USUARIOS. </h3>
					<p class="terminosCont">
						El Usuario declara que entrega de forma libre y voluntaria a GANGASTIK toda la información necesaria para el cumplimiento del objeto del presente acuerdo.  GANGASTIK asume las siguientes obligaciones respecto de sus usuarios: 
					</p>
					<ul class="terminosCont ulcont">
						<li>
							Almacenar los datos personales del Usuario en sus propias bases de datos de forma segura. 
						</li>
						<li>
							Tratar los datos personales del Usuario cumpliendo con los principios de legalidad, finalidad, libertad, veracidad, transparencia, acceso y circulación restringida, seguridad y confidencialidad.  
						</li>
						<li>
							Comprometerse a emplear todos los mecanismos técnicos y humanos que estén a su alcance para garantizar la confidencialidad de los datos personales del Usuario. 
						</li>
						<li>
							Cumplir con todos los deberes y obligaciones establecidos en la Ley 1581 de 2012 que correspondan a los encargados del tratamiento de datos personales.
						</li>
					</ul>
					<p class="terminosCont">
						El Usuario autoriza a GANGASTIK explotar comercialmente la información relacionada con sus preferencias, gustos y opiniones. Esa información podrá ser utilizada por GANGASTIK para optimizar y personalizar los Beneficios, así como con fines estadísticos generales para establecer hábitos, tendencias y preferencias  de los consumidores. GANGASTIK podrá explotar comercialmente dicha información, sin desconocer en ningún momento la privacidad de los Usuarios. GANGASTIK jamás proveerá información particular de un Usuario.
					</p>
					<h3 class="terminosTit">NOVENA. DURACIÓN. </h3>
					<p class="terminosCont">
						La relación entre GANGASTIK y el Proveedor es a término indefinido, y cualquiera de las partes podrá poner fin a la misma en cualquier momento: el Usuario dándose de baja el mismo por medio de la Aplicación, y GANGASTIK dándolo de baja a través de la misma plataforma. 
					</p>
					<h3 class="terminosTit">DÉCIMA. FACULTADES DE GANGASTIK</h3>
					<p class="terminosCont">
						GANGASTIK se encuentra facultada para:
					</p>
					<ul class="terminosCont ulcont">
						<li>
							Promocionar los productos y servicios de los Aliados
						</li>
						<li>
							Ejecutar todas las actividades convenientes o necesarias para el buen funcionamiento de la Aplicación y del negocio.
						</li>
						<li>
							Bajo los parámetros de la buena fe, modificar unilateralmente y en cualquier momento los presentes términos y condiciones, sin previo aviso. 
						</li>
						<li>
							Contactar a los Usuarios para hacerles seguimiento a sus relaciones con los Aliados y valorar sus niveles de satisfacción sobre los productos y servicios adquiridos.
						</li>
					</ul>
					<h3 class="terminosTit">UNDÉCIMA NOVENA: LEY APLICABLE</h3>
					<p class="terminosCont">
						Los presentes términos y condiciones se regirán en su totalidad por las leyes aplicables vigentes en la República de Colombia. 
					</p>
				</div>
			</div>
		</div>
</ion-view>