<ion-view view-title="contacto-view" cache-view="false">
		<div class="content4">
			<div class="card6 paddingtop1" altura-porcentaje="85">
				<div class="altocard6">
					<div class="arrowBack" ui-sref="app.producto">
						<span class="icon-arrow-left"></span>
					</div>
					<div class="contactoContent">
						<div class="contactoTit">
							CALLE 129B # 57A – 87 <br> CASA 32
							<span class="subContacto"><span class="icon-mark"></span>BOGOTÁ, COL</span>
						</div>
						<div class="contacto">
							<div class="contactoInfoL">
								(+57) 7 03 85 17
								<span class="subContacto relativeSub">TELÉFONO</span>
							</div>
							<div class="contactoInfoR">
								<a id="sensibildad" class="flexB flex-center" href="tel:+572646666">
									<span class="icon-phone"></span>
								</a>
							</div>
						</div>
						<div class="contacto">
							<div class="contactoInfoL">
								contacto@gangastik.com
								<span class="subContacto relativeSub">EMAIL</span>
							</div>
							<div class="contactoInfoR">
								<a id="sensibildad" class="flexB flex-center" href="mailto:contacto@gangastik.com">
									<span id="colorAmrcorreo" class="icon-mail"></span>
								</a>
							</div>
						</div>
						<div class="contacto">
							<div class="contactoInfoL">
								@gangastik
								<span class="subContacto relativeSub">FACEBOOK</span>
							</div>
							<div class="contactoInfoR">
								<a id="sensibildad" class="flexB flex-center" href="#" onclick="window.open('https://www.facebook.com/', '_system', 'location=yes'); return false;">
									<span class="icon-facebook"></span>
								</a>
							</div>
						</div>
						<div class="contacto">
							<div class="contactoInfoL" ng-click="abrirTelf()">
								www.gangastik.com
								<span class="subContacto relativeSub">WEBSITE</span>
							</div>
							<div class="contactoInfoR">
								<a id="sensibildad" class="flexB flex-center" href="#" onclick="window.open('http://www.gangastik.com/', '_system', 'location=yes'); return false;">
									<span class="icon-pointer"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</ion-view>