<ion-view view-title="tipsjtodos-view" cache-view="false">
		<div class="content3">
			<div class="overlayTip" resize></div>
			<div class="card8 flexCol" altura-porcentaje="80">
				<div class="innerCard row row-center row-no-padding" altura-porcentaje-div="96">
					<div class="tipJuego">
						<div class=" tipItem tipTit">
							<h2>¡ ESTÁS LISTO !</h2>
							<p>	
								<span class="bold">Gana gangs cada vez que:</span>
							</p>
						</div>
						<div class="tipText">
							<ul class="tipList">
								<li class="row row-no-padding flex-center-vertical"><span class="icon-checked"></span> 
									<div>Respondas las preguntas que te hacemos.</div></li>
								<li class="row row-no-padding flex-center-vertical"><span class="icon-checked"></span> 
									<div>Compartas en tus redes sociales tus Gangas.</div></li>
								<li class="row row-no-padding flex-center-vertical"><span class="icon-checked"></span> 
									<div>Por cada amigo que puedas invitar ganarás el <span class="bold">10%</span> de las <span class="bold">GANGS</span> que él gane por siempre.</div></li>
								<li class="row row-no-padding flex-center-vertical"><span class="icon-checked"></span> 
									<div>Además, ¡llega a tus primeros 16,000 <span class="bold">GANGS</span> y recibe tu primer producto gratis!</div></li>
								<li class="row row-no-padding flex-center-vertical"><span class="icon-checked"></span> 
									<div>Regala beneficios a tus amigos que aún no están en <span class="bold">GANGASTIK</span> y se inscriban.</div></li>
								<li class="row row-no-padding flex-center-vertical"><span class="icon-checked"></span> 
									<div>Además, ¡llega a tus primeros 10,000 <span class="bold">GANGS</span> y recibe tu primer <span class="bold">PRODUCTO GRATIS!</span></div></li>
							</ul>
						</div>
						<div class="tipItem aventura" ui-sref="app.gangs">
							<span class="icon-arrow-right"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
</ion-view>