<ion-view view-title="tipsj-view" cache-view="false">
		<div class="content3">
			<div class="overlayTip" resize></div>
			<div class="card8 flexCol" altura-porcentaje="80">
				<div class="innerCard row row-center row-no-padding">
					<div class="tipJuego">
						<div class=" tipItem tipTit">
							<h1 class="tipTit">TIP <br> DE JUEGO</h1>
						</div>
						<div class="tipItem tipText">
							<p>
								Acumula muchos <span class="bold">GANGS</span>
								(puntos) para desbloquear sorpresas, sorteos únicos
								y agrandar tus gangas aún más.
							</p>
						</div>
						<div class="tipItem aventura" ui-sref="app.tipsjtodos">
							<span class="icon-arrow-right"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
</ion-view>