<ion-view view-title="condicionesBB-view" cache-view="false">
	<ion-content>
		<div class="content4">
			<div class="card5 paddingtop1" altura-porcentaje="83">
				<div>
					<div class="arrowBack" ui-sref="app.yagansoliporcesada">
						<span class="icon-arrow-left"></span>
					</div>
					<div class="center terminos">CONDICIONES <br> DE ENVIO</div>
				</div>
				<h3 class="terminosTit">LOREM IPSUM</h3>
				<p class="terminosCont">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt perferendis eligendi, porro. Id natus deleniti saepe ducimus aspernatur assumenda provident vel facilis numquam non! Consectetur ipsum, facilis odio velit dolore.</span><span>Neque quis nemo ad quos adipisci sint.</span>
				</p>
				<h3 class="terminosTit">LOREM IPSUM</h3>
				<p class="terminosCont">
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt perferendis eligendi, porro. Id natus deleniti saepe ducimus aspernatur assumenda provident vel facilis numquam non! Consectetur ipsum, facilis odio velit dolore.</span><span>Neque quis nemo ad quos adipisci sint.</span>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>