<ion-view view-title="variableuno-view">
	<ion-content>
		<div id="altura1" class="flexCol hCen main2">
			<div class="logo2">
				<img src="img/logo-s.png" alt="">
			</div>
			<div class="content4 flexCol vMid">
				<p class="note2 marBot">Ingresa el código de tu oferta</p>
				<form ng-submit="" id="codigo">
					<div class="labelFormCenter">
						<span class="icon-writte iconFormCenter2"></span>
						<input type="text" placeholder="Código" class=" cedula">
					</div>
					<div class="sep"></div>
					<div class="btnsFoot">
						<button class='btn3'>REDIMIR</button>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>